<div id="downloadd" class="semi-donut margin" style="--percentage : downloadd; --fill: #FF3D00 ;">
    <h2 id="download">
        <h3>/mbps</h3>
        </h3>
</div>


<div class="semi-donut-model-2 margin" style="--percentage : download; --fill: #039BE5 ;">
    <h2 id="upload">
        <h3>/mbps</h3>
        </h3>
</div>


<link rel="stylesheet" href="/charts/speedtest.css">

<script src="charts/custom.js"></script>