<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="social">
                    <li><a href="https://api.whatsapp.com/send?phone=5521972304418&text=Ol%C3%A1%2C%20meu%20contato%20e%20referente%20ao%20CCleo%20Bot"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy; 2021 CCleo - Design: Dixavado</p>
            </div>
        </div>
    </div>
</footer>