<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        <img src="/home/images/logo.png" alt="Softy Pinko" />
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="#welcome" class="active">Inicio</a></li>
                        <li><a href="#features">Sobre</a></li>
                        <li><a href="#work-process">CCLeo Bot</a></li>
                        <li><a href="#pricing-plans">Preços</a></li>
                        <li><a href="#contact-us">Contato</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>