<form action="http://localhost:3000/admin/post" method="POST">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Valor</p>
    <input type="text" name="valor">
    <p>Conteudo:</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Enviar</button>
</form>